%h3 Welcome to the Naturegram API!

%p
  Available routes:
  %ul
    %li= link_to '/api/v1/locations', '/api/v1/locations'
    %li= link_to '/api/v1/locations/42', '/api/v1/locations/42'
    %li= link_to '/api/v1/users', '/api/v1/users'
    %li= link_to '/api/v1/users/42', '/api/v1/users/42'
    %li= link_to '/api/v1/pictures', '/api/v1/pictures'
    %li= link_to '/api/v1/pictures/42', '/api/v1/pictures/42'
