= simple_form_for(@picture) do |f|
  = f.error_notification

  .form-inputs
    = f.association :location
    = f.association :user
    = f.input :description
    = f.input :title
    = f.input :pic_url

  .form-actions
    = f.button :submit
