= simple_form_for(@picture) do |f|
  = f.error_notification

  .form-inputs
    = f.input :pic_url, autofocus: true
    = f.input :title
    = f.association :location
    = f.input :description
    = f.association :user, selected: current_user.id#, disabled: true, hint: 'You cannot add a picture for someone else.'

  .form-actions
    = f.button :submit
